<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <globalization culture="en-GB"/>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=DESKTOP-CDBQUR0\SQLEXPRESS;User Id=sa;Password=123456;database=quanlysach;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
